.mango-form
{
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid black;
  padding: 20px;
  width: 500px;
}


.mango-input{
  box-sizing: border-box;
  height: 80px;

  padding-top: 10px;
  padding-bottom: 10px;

  label{
    display: block;

    font-size: 20px;
    color: hsl(0, 0, 20%);
  }
  input{
    box-sizing: border-box;
    display: block;

    height: 32px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: hsl(0, 0%, 28%);
    border: 1px solid hsl(0, 0%, 70%);
    font-size: 17px;

    &:focus {
      outline: none;
      border: 2px solid $base-color;
       
    }
  }

  .mango-input-error{
    display: block;

    color: red;
  }
}

.mango-box{
 /* box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: hsl(0, 0%, 96%);
  padding-left: 10px;*/

}


.mango-tab{
  background-color: white;
  width: 100px;
  height: 50px;
  color: $base-color; 
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: black;

  &.active{
    background-color: $base-color;
    color: white;
  }
}

.mango-parent{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: hsl(0, 0%, 96%);
}

.mango-post{
  box-sizing: border-box;
  height: 150px;
  width: 500px;
  border: 1px solid black;
  border-radius: 2px;

  h3{
    display: block;
    padding: 5px;
    font-weight: normal;
    background-color: $base-color;
    color: white;
  }
}

.posts_view{
}

.view_holder{
  padding: 20px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: black;
}


/*.mango-input-error{
  color: red;
  font-size: 19px;
  position: absolute;
  left: 520px;
}*/

.mango-navigation{
  display: block;
  box-sizing: border-box;
  background-color: $base-color;
  height: 40px;

  ul{
    span{
      li {
	float: left;
        list-style-type: none;
	a {
	  text-decoration: none;
	  color: white;
	  font-size: 19px;
          padding-left: 3px;
          padding-right: 3px;
	}
      }
    }
  }
}

.mango-form-submit-button{
    display: block;
    background-color: $base-color;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

  &:active
  {
    background-color: black;
  }
}

.mango-button{
  display: block;
  background-color: $base-color;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  float: right;

  &:active
  {
    background-color: black;
  }
}

.mango-modal-background {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mango-display-block {
  display: block;
}

.mango-display-none {
  display: none;
}

.mango-close {
  color: $base-color;
  float: right;
  font-size: 25px;
  font-weight: bold;

  &:hover{
    text-shadow: 2px 2px 2px #aaaaaa;
    cursor: pointer;
  }
}

.mango-modal{
  background-color: white;
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#map-widget{
 width: 100%;
 height: 100%;
}
